<h1>Reviews</h1>

<table>
  <th>
    <td>Review ID</td>
    <td>Dates</td>
    <td>Rating</td>
    <td>Comments</td>
    <td>Title</td>
    <td>Reviewer</td>
    <td>Details</td>
  </th>
  <tr>
    <td>Review ID</td>
    <td>Dates</td>
    <td>Rating</td>
    <td>Comments</td>
    <td>Title</td>
    <td>Reviewer</td>
    <td>Details</td>
  </tr>
</table>